{% form_theme form 'form.html.twig' %}

<!DOCTYPE html>
<html class="min-h-dvh">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="min-h-dvh flex flex-col dark:bg-slate-950">
        <div class="container mx-auto my-auto p-4">
            <div class="max-w-[40rem] mx-auto">
                <div class="px-8 py-8 mb-8 bg-slate-100 rounded-lg shadow-lg border dark:bg-slate-800 dark:border-slate-700">
                    {% block body %}{% endblock %}
                </div>

                <div class="text-slate-500">
                    This website is brought to you by
                    <a href="https://github.com/d9beuD">d9beuD</a>
                    for free. It uses no trackers, no ads, and no cookies. It does not
                    record any personal data. It is open source and you can find the
                    source code on
                    <a href="https://github.com/d9beuD/link-shortener">GitHub</a>.
                </div>
            </div>
        </div>
    </body>
</html>
